@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header, header picture, header ul, .home .downArrow, .aboutUs, .event .eventContainer, .event .eventContainer .eventContent, .event .eventContainer .eventContent .cardContainer .eventCard .cardTop, .event .eventContainer .eventContent .cardContainer .eventCard .cardTop picture, .event .eventContainer .eventContent .cardContainer .eventCard .cardBottom, .team, .team .team__content, .team .team__content .teamCardContainer .teamCard .teamCardFront, .team .team__content .teamCardContainer .teamCard .teamCardFront .teamCard__content, .team .team__content .teamCardContainer .teamCard .teamCardBack, .contactUs, .contactUs .row1, .contactUs .footer, .contactUs .footer .column, .contactUs .footer .column .columnContent, .contactUs .footer .column .socialHandles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  cursor: url("../IMG/bee.png"), auto;
  background: url(../IMG/2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: transparent;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 9999;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
  z-index: -1;
}

header picture {
  height: 100%;
}

header picture img {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

header ul {
  width: 60%;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header ul a {
  text-decoration: none;
}

header ul a li {
  font-size: clamp(0.7rem, 3vw, 1.5rem);
  color: white;
  -webkit-transition: color ease-out 0.5s;
  transition: color ease-out 0.5s;
  cursor: pointer;
}

header ul a li:hover {
  color: #fdfd5d;
}

.navChange .overlay {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.navChange img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.navChange ul li {
  color: black;
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.home picture {
  width: 100%;
  height: 100%;
}

.home .colored {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .black_white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-clip-path: circle(100px at center center);
          clip-path: circle(100px at center center);
  -o-object-fit: cover;
     object-fit: cover;
}

.home .pictureOverlay {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.home #broken {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  font-size: clamp(4rem, 9vw, 5rem);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 900;
  padding: 3rem;
  background-image: url("../IMG/textBg.jpg");
  background-size: cover;
  color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: poppins;
}

.home #broken::first-line {
  font-size: clamp(4rem, 9vw, 6rem);
}

.home .downArrow {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 99;
}

.home .downArrow i {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: pointer;
  -webkit-animation: wiggle 0.3s linear infinite alternate;
          animation: wiggle 0.3s linear infinite alternate;
}

@-webkit-keyframes wiggle {
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes wiggle {
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.aboutUs {
  width: 100vw;
  height: 100vh;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.aboutUs .aboutUs__content {
  width: 70%;
  background: rgba(20, 20, 20, 0.6);
  padding: 2.5% 5%;
  border-radius: 25px;
  -webkit-box-shadow: inset 10px 10px 10px rgba(71, 71, 71, 0.9), inset -10px -10px 10px rgba(71, 71, 71, 0.9);
          box-shadow: inset 10px 10px 10px rgba(71, 71, 71, 0.9), inset -10px -10px 10px rgba(71, 71, 71, 0.9);
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform ease-in-out 0.7s;
  transition: -webkit-transform ease-in-out 0.7s;
  transition: transform ease-in-out 0.7s;
  transition: transform ease-in-out 0.7s, -webkit-transform ease-in-out 0.7s;
}

.aboutUs .aboutUs__content h2 {
  font-family: 'Andika New Basic', sans-serif;
  font-size: clamp(1.75rem, 5vw, 3rem);
  z-index: 9;
  margin-bottom: 1rem;
}

.aboutUs .aboutUs__content p {
  font-size: clamp(1rem, 4vw, 1.75rem);
  z-index: 9;
  margin-bottom: 0.5rem;
}

.aboutUs .aboutUs__content p span {
  color: #ffff2e;
  font-size: clamp(1.4rem, 5vw, 2.5rem);
  line-height: 2rem;
  width: 1.25rem;
  overflow: hidden;
  -webkit-transition: width ease-out 0.5s;
  transition: width ease-out 0.5s;
  -webkit-animation: colorWheel linear 5s infinite;
          animation: colorWheel linear 5s infinite;
}

.aboutUs .aboutUs__content p:nth-of-type(2) {
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.aboutUs .aboutUs__contentFinalPos {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes colorWheel {
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes colorWheel {
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.event {
  width: 100vw;
  height: 120vh;
  position: relative;
  color: white;
  z-index: 3;
}

.event .eventOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 0;
}

.event .eventContainer {
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.event .eventContainer p {
  text-align: center;
  font-size: clamp(2rem, 4vw, 3rem);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.event .eventContainer .eventContent {
  width: 100%;
  height: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
}

.event .eventContainer .eventContent .cardContainer {
  width: 30%;
  height: 45%;
  border-radius: 25px;
}

.event .eventContainer .eventContent .cardContainer .eventCard {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 25px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: opacity ease-in-out 0.7s, -webkit-transform ease 0.7s;
  transition: opacity ease-in-out 0.7s, -webkit-transform ease 0.7s;
  transition: transform ease 0.7s, opacity ease-in-out 0.7s;
  transition: transform ease 0.7s, opacity ease-in-out 0.7s, -webkit-transform ease 0.7s;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.event .eventContainer .eventContent .cardContainer .eventCard .cardTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 25px;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.event .eventContainer .eventContent .cardContainer .eventCard .cardTop picture {
  height: 60%;
}

.event .eventContainer .eventContent .cardContainer .eventCard .cardTop picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.event .eventContainer .eventContent .cardContainer .eventCard .cardTop h2 {
  width: 80%;
  text-align: center;
  font-size: clamp(0.7rem, 3vw, 1.5rem);
}

.event .eventContainer .eventContent .cardContainer .eventCard .cardBottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.event .eventContainer .eventContent .cardContainer .eventCard .cardBottom p {
  width: 80%;
  font-size: clamp(0.6rem, 3vw, 0.9rem);
  color: white;
}

.event .eventContainer .eventContent .cardContainer:hover .eventCard {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.event .eventContainer .eventContent .cardContainer:nth-of-type(1) .cardTop {
  background: -webkit-gradient(linear, right top, left top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}

.event .eventContainer .eventContent .cardContainer:nth-of-type(1) .cardBottom {
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.event .eventContainer .eventContent .cardContainer:nth-of-type(2) .cardTop {
  background: -webkit-gradient(linear, right top, left top, from(#1f1f1f), to(#3a3a3a));
  background: linear-gradient(to left, #1f1f1f, #3a3a3a);
}

.event .eventContainer .eventContent .cardContainer:nth-of-type(2) .cardBottom {
  background: -webkit-gradient(linear, left top, right top, from(#1f1f1f), to(#3a3a3a));
  background: linear-gradient(to right, #1f1f1f, #3a3a3a);
}

.event .eventContainer .eventContent .cardContainer:nth-of-type(3) .cardTop {
  background: -webkit-gradient(linear, right top, left top, from(#ff5349), to(#fa6f3d));
  background: linear-gradient(to left, #ff5349, #fa6f3d);
}

.event .eventContainer .eventContent .cardContainer:nth-of-type(3) .cardBottom {
  background: -webkit-gradient(linear, left top, right top, from(#ff5349), to(#fa6f3d));
  background: linear-gradient(to right, #ff5349, #fa6f3d);
}

.event .eventContainer .eventContent .cardContainer:nth-of-type(4) .cardTop {
  background: -webkit-gradient(linear, right top, left top, from(#f1ff27), to(#fff352));
  background: linear-gradient(to left, #f1ff27, #fff352);
}

.event .eventContainer .eventContent .cardContainer:nth-of-type(4) .cardBottom {
  background: -webkit-gradient(linear, left top, right top, from(#f1ff27), to(#fff352));
  background: linear-gradient(to right, #f1ff27, #fff352);
}

.team {
  width: 100vw;
  height: 100vh;
  background: #242424;
  color: white;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team .teamHeading {
  width: 93%;
  text-align: center;
  border-bottom: 5px solid cyan;
  font-size: clamp(2rem, 7vw, 3rem);
}

.team .team__content {
  width: 100%;
  height: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team .team__content .teamCardContainer {
  width: 25%;
  height: 80%;
  border-radius: 20px;
}

.team .team__content .teamCardContainer .teamCard {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.team .team__content .teamCardContainer .teamCard .teamCardFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #fff;
  border-radius: 20px;
  background: radial-gradient(#000064, #00002b);
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.team .team__content .teamCardContainer .teamCard .teamCardFront picture {
  width: 60%;
}

.team .team__content .teamCardContainer .teamCard .teamCardFront picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .team__content .teamCardContainer .teamCard .teamCardFront .teamCard__content {
  width: 90%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team .team__content .teamCardContainer .teamCard .teamCardFront .teamCard__content h2 {
  font-size: 1.25rem;
}

.team .team__content .teamCardContainer .teamCard .teamCardFront .teamCard__content h3 {
  font-size: 1rem;
  width: 100%;
  border-bottom: 3px solid cyan;
}

.team .team__content .teamCardContainer .teamCard .teamCardFront .teamCard__content p {
  font-size: 0.8rem;
}

.team .team__content .teamCardContainer .teamCard .teamCardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: radial-gradient(#000064, #00002b);
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 1;
}

.team .team__content .teamCardContainer .teamCard .teamCardBack picture {
  width: 80%;
}

.team .team__content .teamCardContainer .teamCard .teamCardBack picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .team__content .teamCardContainer:hover .teamCard {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.contactUs {
  width: 100vw;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: url(../IMG/contactBg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.contactUs .row1 {
  width: 80%;
  height: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 2px solid black;
}

.contactUs .row1 h2 {
  font-size: 3rem;
}

.contactUs .row1 p {
  font-size: 2rem;
}

.contactUs .row2 {
  width: 80%;
  height: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contactUs .row2 .phoneIcon {
  margin-right: 0.5rem;
}

.contactUs .row2 .phoneIcon i {
  font-size: 3.5rem;
}

.contactUs .row2 .number {
  font-size: 1.75rem;
}

.contactUs .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 9999;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.contactUs .footer .footerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
  z-index: -1;
}

.contactUs .footer .column {
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactUs .footer .column .columnContent {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  height: 100%;
}

.contactUs .footer .column h3 {
  font-size: 1.25rem;
}

.contactUs .footer .column p {
  font-size: 1rem;
}

.contactUs .footer .column .socialHandles {
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactUs .footer .column .socialHandles a {
  text-decoration: none;
}

.contactUs .footer .column .socialHandles a i {
  color: black;
  font-size: 1.5rem;
}

.footerChange {
  color: black;
  color: white;
}

.footerChange .footerOverlay {
  background: rgba(255, 255, 255, 0.1) !important;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.footerChange .socialHandles a i {
  color: white !important;
}

.footerChange2 {
  color: white;
}

.footerChange2 .socialHandles a i {
  color: white !important;
}
/*# sourceMappingURL=style.css.map */